.icone-transferencia{
    text-align:center;
    font-size:22px;
    margin:-6px 0;
}

.avisoTransferencia{
    font-size:14px;
    color:#dc2626;
    background:#fee2e2;
    border-radius:12px;
    padding:10px 14px;
    display:none;
}

.avisoTransferencia.visivel{
    display:block;
}
